<!DOCTYPE html>

<html style="background-image: url({% static 'img/neonbeon.png' %}); overflow:hidden">

<head id="head">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-151963128-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-151963128-1');
    </script>


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" /> -->
    <link rel="stylesheet" type="text/css" href="{% static 'style-min.css' %}">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <title>The Leaderboard Challenge</title>

</head>

<body style="background-image: url({% static 'img/neonbeon.png' %})">
    <div class="countdown">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h1>Challenge starts in</h1>
                <span id="countdown-timer">
                    
                </span>

                {% if on_list %}
                    <p>You will receive an email when the challenge begins.</p>
                {% else %}
                    <div class="row justify-content-center not-btn">
                        <button class="payment-btn" data-toggle="modal" data-target="#notifyModal">Notify Me</button>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="notifyModal" tabindex="-1" role="dialog" aria-labelledby="notifyModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="notifyModalLabel">The Leaderboard Challenge</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>You will be notified when the challenge starts</p>
                    <form action="." method="post">
                        {% csrf_token %}
                        <article>
                            <input type="email" name="email" placeholder="Enter your email address" required>
                        </article>
                        <article>
                            <input type="submit" value="Notify me">
                        </article>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Set the date we're counting down to
        var countDownDate = new Date("Dec 1, 2019 12:00:00").getTime();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById("countdown-timer").innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("countdown-timer").innerHTML = "EXPIRED";
            }
        }, 1000);
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>